.common-note-main-wrapper{
    background-color: #f0f2f4;
    width: fit-content;
    display: flex;
    align-items: center;
    padding: 9px 16px;
    border-radius: 9px;
    color: #6c6c6c;
    gap: 10px;
    p{
        font-size: 15px;
    }
}